<header>
			<a href="#" class="logo"><img src=<%=asset_path 'logo.png'%> alt=""></a>
			<nav>
				<ul>
					<li><%=link_to 'My Challenges', root_path%></li>
					<li><%=link_to 'Challenge a friend', challenges_path%></li>
					<li class="noti"><a href="#" class="show-noti"><em class="new"></em><img src=<%=asset_path 'icons/noti.png'%> alt=""></a></li>
					<li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</li>
				</ul>
			</nav>
		</header>
