<%= render 'shared/difficulty_filter', header: "Today's Challenges" %>
<section class="challenge-list">

<% if @challenges.nil? %>
  <%= render 'empty_challenge' %>
<% elsif @challenges.is_done? %>
  <%= render 'empty_done' %>
<% elsif @challenges.has_pending? %>
  <ul>
    <% @challenges.each do |challenge| %>
    <li class="<%= challenge.difficulty %>">
     <h4><%= challenge.difficulty[0].upcase %></h4>
      <div class="sender">
       <%=image_tag challenge.sender.img if challenge.sender.img.present? %>
       <p>from <%= challenge.sender.name.capitalize %></p>
      </div>
      <p><%= challenge.name %></p>
      <em class="reward"><%= challenge.exp %> star</em>
      <% if challenge.status == 'done'%>
        <span class="status completed">Completed</span>
      <% else %>
        <a href="#" class="btn done">Mark as Done</a>
      <% end %>
    </li>

    <% end %>
  </ul>
<% end %>
</section>
