<h1>Listing challenge_data</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Difficulty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @challenge_data.each do |challenge_datum| %>
  <tr>
    <td><%= challenge_datum.name %></td>
    <td><%= challenge_datum.difficulty %></td>
    <td><%= link_to 'Show', challenge_datum %></td>
    <td><%= link_to 'Edit', edit_challenge_datum_path(challenge_datum) %></td>
    <td><%= link_to 'Destroy', challenge_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Challenge datum', new_challenge_datum_path %>
