<%= render 'shared/difficulty_filter', header: "Challenge a friend" %>
<section class="challenge-list">
  <ul>
    <% @challenges.each do |challenge| %>
      <li class="<%= challenge.diffname %>">
      <h4><%= challenge.diffname[0].upcase %></h4>
      <p><%= challenge.name %></p>
      <em class="reward">1 star</em>
      <a href="#" 
        class="btn send open-modal"
        data-difficulty="<%= challenge.difficulty %>"
        data-name='<%= challenge.name %>'>
          Send Challenge
      </a>
    </li>
    <% end %>
  </ul>
</section>
