<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>

   <%= csrf_meta_tags %>
  <link rel="stylesheet" href=<%= asset_path 'style.css'%>>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>

<%if current_page?(new_user_session_path)%>
<body class="landing">
  <%= yield %>
</body>
<%else%>
    <div id="container">
    <body>
    <%=render 'shared/header'%>
    <div id="dashboard">
      <%= render 'shared/sidebar' %>
      <section id="main">
        <div class="content">
          <%= yield %>
        </div>
      </section>
    </div>
    <%= render 'shared/footer' %>
    </div>

    <%= render 'shared/modal'%>



  <%= javascript_include_tag "application" %>
  <script src=<%= asset_path 'jquery-2.1.4.min.js'%> type="text/javascript"></script>
  <script src=<%= asset_path 'transit.js'%> type="text/javascript"></script>
  <script src=<%= asset_path 'app.js'%> type="text/javascript"></script>




    </body>
<%end%>


</html>
