<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  	<link rel="stylesheet" href=<%= asset_path 'style.css'%>>

</head>
<body>
<div id="dashboard">
  <%= render 'shared/sidebar' %>
  <section id="main">
    <div class="content">
      <%= yield %>
    </div>
  </section>
</div>
<%= render 'shared/footer' %>

<%= render 'shared/modal' if @modal %>
</body>
</html>
